.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  color: "yellowgreen";
  font-style: italic;
}
.powerButton {
  cursor: pointer;
  background-color: transparent;
  color: #3498db;
  border-radius: 50%;
  font-size: 1em;
  box-shadow: 0 6px 6px rgba(11, 29, 5, 0.6);
}
.piano {
  position: absolute;
  margin-top: 250px;
  margin-left: 0%;
  background-color: #734b43;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
.flex-container {
  list-style: none;
  display: flex;
}
.key {
  position: relative;
  width: 40px;
  height: 180px;
  border: 1px solid black;
  border-right: none;
  background: #fffff0;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #666;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
}
.key-with-sharp {
  position: relative;
  width: 40px;
  height: 180px;
  border: 1px solid black;
  border-right: none;
  background: #fffff0;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #666;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
}
.black-key {
  position: relative;
  top: -51px;
  left: 20px;
  width: 27px;
  height: 120px;
  background: black;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #666;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  color: white;
}

.volume_label {
  position: relative;
  bottom: 5px;
  color: yellowgreen;
}
